
    <h2> Update the celebrity</h2>

<form action="/celebrities" method="POST">

<label for="name">Name: </label>
<input type="text" name="name" value="{{celebrity.name}}">

<br>
<label for="occupation">Occupation: </label>
<input type="text" name="occupation" value="{{celebrity.occupation}}">

<br>
<label for="catchPhrase">CatchPhrase: </label>
<input type="text" name="catchPhrase" value="{{celebrity.catchPhrase}}">

<button type="submit">Submit</button>
</form>

