<nav class="nav-bar">
     <button class="main-btns">
          <a href="/">Go Back</a>
        </button>

        <button class="main-btns">
          <a href="/celebrities/new">Add a new celebrity</a>
        </button>
  </nav>

<h2>Celebrities</h2>

<div class="container2">
   
    {{#each celebrities}}
  <div class="box-celeb rotate_right rotate_left">
    <div class="title-celeb">
      <h3>{{this.name}}</h3>
    </div>
    <div class="btns-celeb">
      <a class="btn" href="celebrities/{{_id}}/show">Edit</a>
      <form action="celebrities/{{_id}}/delete" method="POST">
        <button class="btn" type="submit">Delete</button>
      </form>
      <a class="btn" href="celebrities/{{_id}}/edit">Details</a>
    </div>
  </div>
    

      {{/each}} 
</div>


  
    