<nav class="nav-bar">
    <button class="main-btns">
        <a href="/">Go Back</a>
    </button>         
    <button class="main-btns">
        <a href="/movies/create">Add a movie!</a>
    </button>
  </nav>

<h2>All the movies</h2>
<div class="container2">

  {{#each movies}}
    <div class="box-celeb rotate_right rotate_left">
        <div class="title-celeb">
            <h3>{{title}}</h3>
        </div>
        <div class="btns-celeb">
            <a class="btn" href="/movies/{{_id}}/details"> Details</a>

            <form action="movies/{{_id}}/delete" method="POST">
                <button class="btn" type="submit">Delete</button>
            </form>

            <a class="btn" href="/movies/{{_id}}/edit">Edit</a>
        </div>
       
    </div>
    {{/each}}
</div>
